.dashboard-container {
	background-color: white;
	color: black;
	text-align: center;
	padding: 20px 50px;
	border-radius: 10px;
	width: 460px;
    margin: 20px auto;
	border: 2px solid #b33f9f;
}
  
.dashboard-links {
	margin: 40px;
}

.dashboard-links a {
	font-size: 1.5rem;
	color: #b33f9f;
	border: 2px solid #b33f9f;
	background-color: #d9dedf;
	padding: 10px 20px;
	border-radius: 20px;
	text-decoration: none;
	margin: 10px 40px;
	display: inline-block;
}

.dashboard-links a:hover {
	background-color: #d6d6cd;
	text-decoration: none;
}

.user-section {
	margin-top: 10px;
	text-decoration: none;
	display: flex;
	flex-direction: column;
}

.user-section h2 {
    margin-bottom: 24px;
    font-size: 30px;
}

.user-section a {
    margin-bottom: 10px; 
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #af5ca8;
}

.user-section a:hover {
    text-decoration: underline;
    color: darkmagenta;
    background-color: plum;
}
