.driver-container {
    background-color: snow;
    display: grid;
    padding: 10px;
    border-style: solid;
	border: 2px solid #b33f9f;
    border-radius: 10px;
    margin: 20px auto;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.driver-item {
    font-size: 18px;
    text-align: center;
    display: inline-grid;
    background-color: #feffd7;
    border-style: solid;
	border: 2px solid #b33f9f;
    border-radius: 10px;
    margin: 1px;
    padding: 10px 2px;
}

.header {
    font-size: 20px;
    text-align: center;
    display: inline-grid;
    background-color: #d66eab;
    border-style: solid;
	border: 2px solid #b33f9f;
    border-radius: 10px;
    margin: 1px;
    padding: 10px;
    font-weight: bold;
}

.display-vertical {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.block-status {
    display: flex;
    margin: auto;
    padding: auto;
}

.verify-button {
    color: white;
    background-color: #af5ca8;
    border: 2px solid #b33f9f;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 6em;
    font-size: medium;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1px;
}

.verify-button:hover {
    color: darkmagenta;
    background-color: plum;
}

.verify-button-disabled {
    color: black;
    background-color: gray;
    border: 2px solid darkolivegreen;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 6em;
    font-size: medium;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1px;
}

.block-button, .unblock-button {
    color: #ffffff;
    background-color: #d9534f;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 6em;
    font-size: medium;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1px;
}

.block-button-disabled, .unblock-button-disabled {
    color: black;
    background-color: gray;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 6em;
    font-size: medium;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1px;
}

.verified {
    color: green;
}

.not-verified {
    color: red;
}
