.grid-container {
    background-color: snow;
    display: grid;
    padding: 10px;
    border-style: solid;
	border: 2px solid #b33f9f;
    border-radius: 10px;
    margin: 20px auto;
    width: auto;
    margin-left: 1%;
    margin-right: 1%;
}

.grid-container-narrow {
    background-color: snow;
    display: grid;
    padding: 10px;
    border-style: solid;
	border: 2px solid #b33f9f;
    border-radius: 10px;
    margin: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.grid-container-narrow h2 {
    display: flex;
    margin: 20px auto 10px auto;
}

.grid-item {
    font-size: 18px;
    text-align: center;
    display: inline-grid;
    background-color: #feffd7;
    border-style: solid;
	border: 2px solid #b33f9f;
    border-radius: 10px;
    margin: 4px;
    padding: 10px 2px;
}

.header {
    font-size: 20px;
    text-align: center;
    display: inline-grid;
    background-color: #d66eab;
    border-style: solid;
	border: 2px solid #b33f9f;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.header2 {
    font-size: 20px;
    text-align: center;
    display: inline-grid;
    background-color: #d66eab;
    border-style: solid;
	border: 2px solid #b33f9f;
    border-radius: 10px;
    margin: 1px;
    margin-right: 20px;
    padding: 10px;
    font-weight: bold;
}

.new-ride-form {
	display: flex;
	flex-direction: column;
    padding: 20px;
}

.action-button {
    color: white;
    background-color: #af5ca8;
    border: 2px solid #b33f9f;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 10px;
    padding: 10px 2px;
}

.action-button-narrow {
    color: white;
    background-color: #af5ca8;
    border: 2px solid #b33f9f;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0px auto;
    padding: 10px 2px;
    width: 30%;
}

.action-button-narrow:hover {
    color: darkmagenta;
    background-color: plum;
}
