.grid-container {
    background-color: snow;
    display: grid;
    padding: 10px;
    border-style: solid;
    border: 2px solid #1cc49d;
    border-radius: 10px;
    margin: 10px;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.grid-container-narrow {
    background-color: snow;
    display: grid;
    padding: 10px;
    border-style: solid;
    border: 2px solid #1cc49d;
    border-radius: 10px;
    margin: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    font-family: 'Maiandra GD';
    font-size: 18px;
    text-align: center;
    display: inline-grid;
    background-color: hsl(203, 100%, 80%);
    border-style: solid;
    border: 2px solid darkblue;
    border-radius: 10px;
    margin: 1px;
    padding: 10px;
}

.action-button {
    color: #3fecc4;
    background-color: #2e5e63;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 10px;
    padding: 10px 2px;
}

.action-button-narrow {
    color: white;
    background-color: #af5ca8;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0px auto;
    padding: 10px 2px;
    width: 30%;
}

.action-button-narrow:hover {
    color: darkmagenta;
    background-color: plum;
}