.user-section {
    display: flex;
    flex-direction: column;
}

.user-section h2 {
    margin-bottom: 24px;
    font-size: 30px;
}

.user-section a {
    margin-bottom: 10px; 
    font-size: 18px;
    text-decoration: none;
    color: #1c81c4;
}

.user-section a:hover {
    text-decoration: underline;
}
